.homeContainer {
  display: flex;
  height: 100vh;
}

.leftPanel {
  width: 30%;
  background-color: #ffffff;
  box-sizing: border-box;
}

.leftPanelHeaderSection {
  background-color: #f0f0f0;
  padding: 20px;
  border-bottom: 0.3px solid #ddd;
}

.leftPanelHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.userPhoto {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.logoutButton {
  padding: 10px 15px;
  background-color: #ff4b5c;
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.userInput {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 20px;
}

.rightPanel {
  width: 70%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.leftPanelChatsWord {
  padding: 20px;
  font-size: 20px;
  color: red;
}

.paperPlane {
  width: 30px;
}

.rightPanelHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  background-color: #f0f0f0;
  border-bottom: 0.3px solid #ddd;
  border-left: 0.3px solid #ddd;
}

.rightUserPhoto {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.userName {
  font-size: 20px;
  font-weight: bold;
}

.ellipsis {
  margin-left: auto;
  font-size: 40px;
}

.rightPanelMain {
  flex-grow: 1;
  overflow-y: auto;
  border-left: 0.3px solid #ddd;
}

.rightPanelMessageInput {
  padding: 10px;
  border-top: 0.3px solid #ddd;
  border-left: 0.3px solid #ddd;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
}

.inputContainer {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.messageInput {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 20px;
  box-sizing: border-box;
}

.paperPlane {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  cursor: pointer;
}

.userListItem {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.userListPhoto {
  margin-right: 15px;
}

.photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.userListInfo {
  flex-grow: 1;
  margin-right: 15px;
}

.userListInfoName {
  font-size: 16px;
  font-weight: bold;
}

.userListInfoLastMessage {
  font-size: 14px;
  color: #666;
}

.userListLastMessageTime {
  font-size: 12px;
  color: #999;
}
