.homeContainer {
  display: flex;
  height: 100vh;
}

.leftPanel {
  width: 30%;
  background-color: #ffffff;
  box-sizing: border-box;
}

.leftPanelHeaderSection {
  background-color: #f0f0f0;
  padding: 20px;
  border-bottom: 0.3px solid #ddd;
}

.leftPanelHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.userPhoto {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.logoutButton {
  padding: 10px 15px;
  background-color: #ff4b5c;
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 15px;
  cursor: pointer;
}

.userInput {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 20px;
}

.rightPanel {
  width: 70%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.leftPanelChatsWord {
  padding: 20px;
  font-size: 20px;
  color: red;
}

.paperPlane {
  width: 30px;
}

.rightPanelHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  background-color: #f0f0f0;
  border-bottom: 0.3px solid #ddd;
  border-left: 0.3px solid #ddd;
}

.rightUserPhoto {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}


/* Повідомлення в чаті */
.message {
  display: flex;
  flex-direction: column; /* Вирівнює повідомлення і timestamp вертикально */
  margin: 5px 0;
}

.chatMessage {
  align-self: flex-end;
  text-align: right;
  font-size: 22px;
  background-color: #1ea1b3;
  border-radius: 15px;
  padding: 10px;
  max-width: 650px;
  color: white;
  margin-right: 30px;
}

.quoteMessage {
  align-self: flex-start;
  text-align: left;
  font-size: 22px;
  background-color: #7cac42;
  border-radius: 15px;
  padding: 10px;
  max-width: 650px;
  margin-left: 30px;
  color: white;
  margin-top: 1rem;
}

.chatMessageContainer,
.quoteMessageContainer {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.timestamp {
  font-size: 14px;
  color: #ffffff;
  text-align: right;
  margin-top: 5px;
  align-self: flex-end;
  opacity: 0.5;
}

/* Повідомлення в чаті (кінець)*/

.userName {
  font-size: 20px;
  font-weight: bold;
}

.ellipsis {
  margin-left: auto;
  font-size: 40px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

.rightPanelMain {
  flex-grow: 1;
  overflow-y: auto;
  border-left: 0.3px solid #ddd;
  padding-top: 2rem;
}

.rightPanelMessageInput {
  padding: 10px;
  border-top: 0.3px solid #ddd;
  border-left: 0.3px solid #ddd;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
}

.inputContainer {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.messageInput {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 20px;
  box-sizing: border-box;
}

.paperPlane {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 70px;
  right: 30px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menuItem {
  padding: 10px 20px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.menuItem:last-child {
  border-bottom: none;
}

.menuItem:hover {
  background-color: #f0f0f0;
}

.editChatInput {
  flex-grow: 1;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  box-sizing: border-box;
  border: none;
  outline: none;
}

.editMenu {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #f0f0f0;
}

.confirmButton, .cancelButton {
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.confirmButton {
  background-color: #4CAF50;
  color: white;
}

.cancelButton {
  background-color: #f44336;
  color: white;
}
