.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
}

.modalInput {
    display: block;
    width: 95%;
    margin: 10px 0;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modalButtons {
    margin-top: 20px;
}

.modalButton {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
}

.modalConfirm {
    background-color: #007bff;
    color: #fff;
}

.modalConfirm:hover {
    background-color: #0056b3;
}

.modalCancel {
    background-color: #6c757d;
    color: #fff;
}

.modalCancel:hover {
    background-color: #5a6268;
}