.loginWrapper {
    margin: 0 auto;
    text-align: center;
}

.formGroup {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.login {
    font-size: 60px;
    margin-top: 5rem;
}

.inputField {
    width: 35%;
    margin-bottom: 10px;
    padding: 1rem 1rem 1rem 1rem;
    border: none;
    border-radius: 15px;
    font-size: 32px;
    color: black;
}

.submitButton {
    width: fit-content;
    height: fit-content;
    padding: 14px 25px;
    border: none;
    border-radius: 15px;
    background-color: #BDD0FB;
    font-size: 48px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    margin-top: 2rem;
}

.registerLink span {
    color: red;
    font-size: 36px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 10px;
}

.registerLink span:hover {
    text-decoration: none;
}

.registerLink {
    font-size: 36px;
}

.emailLabel {
    font-size: 36px;
    margin-bottom: 1rem;
    margin-right: 36rem;
}

.passwordLabel {
    font-size: 36px;
    margin-bottom: 1rem;
    margin-right: 32rem;
}

.loginFooter {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 98%;
    display: flex;
    justify-content: flex-end;
}
