.register-input {
    width: 39%;
    margin-bottom: 10px;
    padding: 1rem 1rem 1rem 1rem;
    border: none;
    border-radius: 15px;
    font-size: 32px;
    color:black;
}

.register {
    font-size: 60px;
    margin-bottom: 2rem;
    text-align: center;
}


.register-button {
    width: fit-content;
    height: fit-content;
    padding: 14px 25px;
    border: none;
    border-radius: 15px;
    background-color: #BDD0FB;
    font-size: 48px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    margin-top: 3rem;
}

.register-container2 {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    margin-top: 2rem;
}

.register-text {
    font-size: 36px;
    text-align: center;
}

p.register-text span {
    color: red;
    font-size: 36px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 10px;
}

.text {
    text-align: center;
    font-size: 36px;
    margin-bottom: 1rem;
    margin-right: 41rem;
}

.text7 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 1rem;
    margin-right: 37rem;
}

.text8 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 1rem;
    margin-right: 29rem;
}

.text77 {
    margin-right: 37rem;
    font-size: 36px;
    margin-bottom: 1rem;
}